.intro-wrapper {
	background-color: beige;
	display: flex;
	min-height: 100%;
	height: 100%;
	flex-direction: column;
}

.intro-content-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: 100%;
	img {
		height: 80%;
		width: 100%;
		object-fit: cover;
	}
}

.intro-content-text-area {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 20%;
	text-align: center;
	.text-content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		text-align: center;

		h1 {
			margin-bottom: 20px;
		}
	}
}
