.pagination-wrapper {
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;

	color: white;
	background-color: rgb(31, 31, 31);
	.pagination-button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
	}
	.current-page {
		font-size: 32px;
	}
	// In your CSS file
	.rotated-arrow {
		transform: rotate(180deg);
	}

	.pagination-arrow {
		opacity: 0;
		transition: opacity 0.3s ease; /* Smooth opacity transition */
	}

	.pagination-arrow.visible {
		opacity: 1;
	}

	h1 {
		flex-grow: 1;
		text-align: center;
	}
}
