.infinite-scrollbar {
	max-height: 50vh;
	min-height: 40vh;
	height: 100%;
	overflow: hidden;
	position: relative;
	.scroll-content {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		padding-right: 20px;
		padding-left: 40px;
		box-sizing: content-box;
		margin-left: -32.5px;
	}
	#parallax {
		display: flex;
		justify-content: center;
		flex-direction: column;
		pointer-events: none;
		position: absolute;
		top: 100px;
		padding: 0 20px 0 10px;
		text-align: justify;
		text-justify: inter-character;
		> * {
			padding-bottom: 20px;
		}
	}
}
