@use "./css/colors";
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
	margin: 0;
	user-select: none;
	box-sizing: border-box;
}
body,
html,
#root,
.app-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: "Lora", "Helvetica", Times, serif;
}

/* Overlay Styles */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
	background-color: colors.$grey;
	z-index: 999; /* Ensure it's above your regular content */
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay-message {
	text-align: center;
	color: colors.$white;
	font-size: 25px;
	padding: 20px;
	/* Additional styling for the message */
}
